.louis {
  appearance: 'handsome';
}
:root {
  --primary: #ff4136;
}

/* self explanatory */
/* *::-webkit-scrollbar { display: none; } */
p { margin: 0; }

body {

}

/*************************************************************************
* Layout
*************************************************************************/
main {
  margin: 20px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  header            { grid-area: HEADER; }
  .description      { grid-area: DESC;   }
  .link-of-the-day  { grid-area: LOTD;   }
  .tags             { grid-area: TAGS;   }
  .link-section     { grid-area: LINKS;  }

  main {
    margin: 50px auto;
    max-width: 1024px;
    padding: 0 50px;
    display: grid;

    column-gap: 20px;

    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 120px auto;
    grid-template-areas:
      "HEADER   HEADER "
      "DESC     LOTD "
      "TAGS     LINKS";
  }
}

/*************************************************************************
* Header
**************************************************************************/

header, .description {
  font-size: 18pt;
  color: var(--primary);
  font-weight: 400;
}

@media screen and (min-width: 1023px) {
  header, .description {
    font-size: 18pt;
    font-weight: 300;
    color: #000;
  }
}

.description {
  padding-right: 50px;
  margin-bottom: 60px;
}

.title {
  display: inline-block;
  height: 40px;
  font-size: inherit;
  font-weight: inherit;
}

.link-of-the-day {
  font-size: 18pt;
  font-weight: 300;
}

/*************************************************************************
* Tags
**************************************************************************/
.tags {
  display: none;
}

.tag {
  position: relative;
  display: inline-block;
  padding: .4em .2em;

  background: none;
  border: none;
  overflow: visible;
  cursor: pointer;

  color:      var(--primary);
  font-size: 1em;
  font-family: serif;
  font-weight: 300;
}

.tag:not(:last-child)::after { content: ' | '; display: inline-block; margin-left: .3em}
.tag:not(:last-child):hover::after { text-decoration: none;}

.tag::selection{ background-color:none; }
.tag:hover,
.tag:focus {
  text-decoration: underline;
  outline: none;
  border: none;
}
.tag:before {
  top: calc(50% - 13px);
  left: calc(50% - 13px);
}
.tag:nth-of-type(2n):before {
  top: calc(50% - 7px);
  left: calc(50% - 12px);
}
.tag:nth-of-type(3n):before {
  top: calc(50% - 14px);
  left: calc(50% - 26px);
}
.tag:nth-of-type(4n):before {
  top: calc(50% - 18px);
  left: calc(50% - 10px);
}
.tag.active::before {
  content: "";
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  overflow: visible;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0' y='0px' width='26px' height='26px' enable-background='new 0 0 1024 768' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23FF4136' stroke-miterlimit='10' cx='13px' cy='13px' r='12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.active-tags {
  display: block; font-style: italic; color: var(--primary);
  margin-top: 50px;
  clear: both;
}

@media screen and (min-width: 1024px) {
  .tags {
    display: block;
    padding-right: 50px;
    margin-top: 118px;
  }
}

/*************************************************************************
* Link Styling
**************************************************************************/
@media screen and (max-width: 1023px) {
 .filter-tools {
      position: sticky;
      padding: 20px;
      border: 1px solid #111;
      top:10px;
      left:10px;
      right: 10px;
      width:100%;
      margin: 20px 0 60px;
      display: block;
      /* height: 50px; */
      background: white;
  }
}

@media screen and (min-width: 1024px) {
  .filter-tools {
    position: relative;
  }
}

.links-section {
  line-height: 1.5;
}

.filter-tools .label {
  font-style: italic;
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right:20px;
}

.filter-tools input, .filter-tools select {
  display: block;
  float: left;
}

.filter-tools .label.sort-by {
  clear: left;
}

.filter-tools .label.search {

}

.links {
  overflow-wrap: break-word;
  font-size: 16pt;
}

.link {
  display: block;
  color: black;
  margin-bottom: 20px;
}
.link:hover, .link:focus { color: var(--primary); }

@media screen and (min-width: 1024px) {
  .links {
    margin-top: 22px;
    font-size: 12pt;
  }
  .link {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 5px;
  }
}
