:root {
--minHeight: 400px;
--maxWidth: 500px;
--slider-transition: 'transform 0.5s';
--slider-margin: 10px;
}

.title { padding: 3em;  }

.contents { padding: 2em }
.page-content { width: 100%; }
.post .body {margin-top: 2em; margin-bottom: 3em}
.post .body .content { white-space: pre; }


.image { width: var(--maxWidth); max-width: 100%; }

.slides {
  display:      flex;
  overflow-x:   auto;
  scroll-snap-type: x mandatory;
  scroll-behavior:  smooth;
  -webkit-overflow-scrolling: touch;
  /* align-items: center; */
  /* justify-content: center; */
}

.slides::-webkit-scrollbar { display: none; }

.slide {
  position: relative;
  /* display: flex; */
  /*width: 100%;*/
  flex-shrink: 0;
  margin-right: var(--slider-margin);

  scroll-snap-align: start;

  transform-origin: center center;
  transform: scale(1);
  transition: var(--slider-transition);
}

.slide:first-child { margin-left: auto; }
.slide:last-child { margin-right:auto; }
