<div id="burning" class="w-100 cf">
  <div class="text fl w-100 w-50-ns pa3 dib">
    <p>
      <span class="preline">If I'm lonely
it's with the rowboat ice-fast on the shore
in the last red light of the year
that knows what it is, that knows it's neither
ice nor mud nor winter light
but wood, with a gift for burning
</span>
    </p>
    <p class="">
      <br>
      <br>
      from <em> Song </em> by <em> Adrienne Rich </em>
      <br>
      <span class="date">18 April 2020</span>
    </p>
  </div>
  <div class="pics fl w-100 w-50-ns">
      <div class="garages w-100 fl pa2">
        <img src="images/burning/burning_1.jpeg" class="lazy ba" alt="An apartment block lit up by morning sun, behind a suburban bungalow in the shade. A gate in the immediate forground.">
      </div>
      <div class="villa w-100 fl pa2">
        <img src="images/burning/burning_2.jpeg" class="lazy ba" alt="Garage doors below an apartment block, large dappled light from the morning sun shining on them">
      </div>
  </div>
</div>
