<div id="guardtheapples" class="w-100 cf mb5">
  <div class="text fl w-100 w-50-l pa3 pr5 dib">
    <p>
      <span class="preline">Pindar says the poet must guard the apples of the Muses
like a dragon, but I grew up among Christians,
I pierced my dragon side by scraping off the scales
the way I clean fish in the sink
</span>
    </p>
    <p class="">
      <br>
      <br>
      from <em> Pindar Says the Poet Must Guard the Apples of the Muses </em>
      by <em> Antonella Anedda, translated from Italian by Patrizio Ceccagnoli and Susan Stewart </em>
      <br>
      <span class="date">8 March 2020</span>
    </p>
  </div>
  <div class="pics fl w-100 w-50-l">
      <div class="garages w-100 w-50-ns w-70-l fl pa2">
        <img src="images/guardtheapples/guardtheapples_1.jpeg" class="lazy ba" alt="a van at night outside a large window to a bright room">
      </div>
      <div class="villa w-100 w-50-ns w-100-l fl pa2">
        <img src="images/guardtheapples/guardtheapples_2.jpeg" class="lazy ba" alt="a low lit tree, a dark blue sky and a wee glowing moon on the right in the clouds">
      </div>
  </div>
</div>
