<div id="itisdisguise" class="w-100 cf mb5">
  <div class="text fl w-100 w-50-l pa3 pr5 dib">
    <p>
      <span class="preline">reality is not
behind a veil
it is a veil
</span>
    </p>
    <p class="">
      <br>
      <br>
      from <em> Clouds After Rain </em>
      by <em> Charles Bernstein </em>
      <br>
      <span class="date">20 January 2020</span>
    </p>
  </div>
  <div class="pics fl w-100 w-50-l">
      <div class="garages w-100 w-60-ns w-100-l center pa2">
        <img src="images/itisdisguise/itisdisguise_1.jpg" class="lazy ba" alt="a great deal of tree foliage, a bit of sky, a man drinking from a cup">
      </div>
      <div class="villa w-100 w-60-ns w-100-l center pa2">
        <img src="images/itisdisguise/itisdisguise_2.jpg" class="lazy ba" alt="a plume of smoke rising in the distance, skewed against a white background">
      </div>
      <div class="villa w-100 w-60-ns w-100-l center pa2">
        <img src="images/itisdisguise/itisdisguise_3.jpg" class="lazy ba" alt="a table covered in condiments, a man sleeping shirtless in the background">
      </div>
  </div>
</div>
