<div id="leaves" class="w-100 cf mb5">
  <div class="text fl w-100 w-50-l pa3 dib">
    <div class="pr-3 pr5-l">
      I really like how the leaves appeared today, glowing from behind with the crisp but low sun.
      It's hard to see in the photo.
      I'd like to try to emulate this effect in print, in a card, or something. Some kind of reflective light based work.
    </div>
  </div>
  <div class="pics fl w-100 w-50-l">
      <div class="w-50 w-100-l pa2 fr">
        <img src="images/faveleaves/leaves_01.jpg" alt="view out a 2nd floor window at a tree with the sun behind in, lighting up the leaves">
      </div>
      <div class="w-50 w-100-l pa2 fr">
        <img src="images/faveleaves/leaves_02.jpg" alt="zoomed crop of the first photo on some of the leaves">
      </div>
  </div>
</div>
