:root {
    --width: 600px
}

* { box-sizing: border-box; }

body,
html {
margin: 0;
padding: 0;
width: 100%;
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:%23000000;font-size:16px;font-family:sans-serif;'><text y='20%' x='20%'>:-)</text></svg>") 16 0,auto; /*!emojicursor.app*/
font-family: sans-serif;
line-height: 1.5;
color: black;
}

body {
padding: 20px 40px;
}

main {
display: inline-block;
width: 100%;
max-width: var(--width);
}

h1,
h2 {
font-weight: 300;
font-size: 1.6em;
}

a:hover { 
    color: red;  
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:%23000000;font-size:16px;font-family:sans-serif;'><text y='20%' x='20%'>;-)</text></svg>") 16 0,auto; /*!emojicursor.app*/
}